<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>401658717205-ddc9nq37vd7ismtuosg4bk7cpi7q2eet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401658717205-ddc9nq37vd7ismtuosg4bk7cpi7q2eet</string>
	<key>API_KEY</key>
	<string>AIzaSyDVMNJslzB0lMeQKTuFm2d9eI_Ho1TF3VI</string>
	<key>GCM_SENDER_ID</key>
	<string>401658717205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drivezy.Samosa</string>
	<key>PROJECT_ID</key>
	<string>samosa-2e21d</string>
	<key>STORAGE_BUCKET</key>
	<string>samosa-2e21d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:401658717205:ios:ac91b771695f6d78</string>
	<key>DATABASE_URL</key>
	<string>https://samosa-2e21d.firebaseio.com</string>
</dict>
</plist>